.view{
    align-items: center;
    background-color: black;
    box-sizing: content-box;
    border: 1px solid grey;
    color: whitesmoke;
    margin-bottom: 10px;
    overflow: hidden; /*para que los bordes de las imágenes no se salgan*/
    padding: 20px;
    width: 50%;
    display: inline-flex;
  }


  
  .card p{
    padding: 5px;
    text-align: center;
    line-height: 1px;
  }
  
  .card img{
    max-height: 300px;
    max-width: 400px;
  }
  